@import '../style';

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 233px;
  height: 193px;
  border: 1px solid $border-dark;
  border-radius: 8px;
  margin: .7em;
  cursor: pointer;

  &:hover {
    border: 1px solid $blue;
  }

  &__img {
    background-color: $neutral-dark;
    height: 124px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__info {
    margin: 12px;
    justify-content: left;
    align-items: center;
  }
  
  &__name {
    @include text($weight: 700);
    overflow-x: scroll;
    height: 24px;
    margin: 0px;
  }

  &__line {
    @include text($size: 12px, $height: 20px, $color: $font-color-light);
    margin: 0px;
  }
}
