@use '../base';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid base.$border;
  height: 48px;
  padding-right: 2em;
  padding-left: 1.8em;

  &__icon {
    position: absolute;
    left: 38px;
  }

  &__search {
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 344px;
    padding-left: 35px;
    caret-color: base.$blue;
    background-color: base.$grey;

    &:focus {
      outline: none;
    }
  }

  &__close {
    position: absolute;
    left: 380px;
    cursor: pointer;
    fill: base.$blue;

    &:hover {
    }
  }

  &__label {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 44px;
  }

  &__options {
    height: 32px;
    width: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--list {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    &--grid {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    &--filter {
      height: 24px;
      margin: 0px;
      border: none;
      background: none;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;  

      &:hover {
        color: base.$blue;
      }
    }
  }
}
