@import '../style';

.device-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.device {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 688px;

  &__image {
    width: 256px;
    text-align: center;
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-light;
    @include text;
    height: 28px;
  }
}

@media screen and (max-width: 755px) {
  .device {
    flex-direction: column;

    &__table {
      width: 300px;
    }
    
    &__row {
      height: 56px;
      text-align: right;

      &--info {
        width: 150px;
      }
    }
  }
}
