@import '../style';

.table-list {
  margin-top: 1em;
  margin-right: 3em;
  margin-bottom: 1em;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  
  &__header {
    display: flex;
    text-align: left;
    align-items: center;
    padding-bottom: .2em;
    border-bottom: 1px solid $border-dark;

    &:hover {
      background-color: none;
    }
    
    &--counter {
      @include text($color: $font-color-grey);
      text-align: center;
      width: 136px;
    }
    
    &--line,
    &--name {
      @include text($weight: 700);
      width: 254px;
    }
  }
  
  &__row {
    @include text();
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-dark;
    height: 33px;

    &:hover {
      background-color: $neutral-light;
      color: $blue;
    }
    
    &--img {
      width: 136px;
      text-align: center;
    }
    
    &--line {
      width: 254px;
    }
    &--name {
      width: 270px;
    }
  }
}

@media screen and (max-width: 755px) {
  
  .table-list{
    margin-top: .5em;
    margin-right: 1.5em;
    margin-bottom: .5em;
    margin-left: 1.5em;

    &__header,
    &__row {
      height: 66px;

      &--counter,
      &--img {
        width: 60px;
        display: none;
      }

      &--line {
        width: 200px;
      }
      
      &--name {
        width: 100%;
      }
    }
  }
}
