@use '../base';

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.table-list {
  // margin: 1em;
  width: 100%;
  
  &__header {
    text-align: left;
    
    // &--counter {
      
    // }
    
    // &--line {
      
    // }
    
    // &--name {
      
    // }
  }
}

.table-row {
  margin: .5em;
  cursor: pointer;
  
  &:hover {
    background-color: base.$table-row-hover;
  }
  
  &__img {
    border: 1px solid black;
    display: flex;
    justify-content: right;
  }
  
  // &__line {

  // }

  // &__name {

  // }
}